@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

/* .link:hover {
  background: lightskyblue;
  color: #000;
  transition: all 0.5s;
}

*/
.active {
  background: lightskyblue;
  color: #000;
}

NavLink {
  text-decoration: 'none';
}

#dashboard,
#products,
#customers {
  margin-top: 6%;
  display: flex;
  margin-left: 15%;
}
