@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

/* .link:hover {
  background: lightskyblue;
  color: #000;
  transition: all 0.5s;
}

*/
.active {
  background: lightskyblue;
  color: #000;
}

NavLink {
  text-decoration: 'none';
}

#dashboard,
#products,
#customers {
  margin-top: 7%;
  display: flex;
  margin-left: 15%;
}

/* @media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  } */

@media only screen and (max-width: 768px) {
  #dashboard,
  #products,
  #customers {
    margin-top: 7%;
    display: flex;
    margin-left: 25%;
  }
}
@media only screen and (max-width: 1024px) {
  #dashboard,
  #products,
  #customers {
    margin-top: 10%;
    display: flex;
    margin-left: 25%;
  }
}
@media only screen and (max-width: 1440px) {
  #dashboard,
  #products,
  #customers {
    margin-top: 7%;
    display: flex;
    margin-left: 25%;
  }
}
