@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  /* overflow: hidden; */
}

body {
  background: #f4f4f4;
}
.active {
  background: lightskyblue;
  color: #000;
}

NavLink {
  text-decoration: 'none';
}

#dashboard,
#products,
#customers {
  margin-top: 7%;
  display: flex;
  margin-left: 15%;
}

#dashboard {
  padding: 30px 5px;
}

/* @media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  } */

@media only screen and (max-width: 1440px) {
  #dashboard,
  #products,
  #customers {
    margin-top: 7%;
    display: flex;
    margin-left: 18%;
  }

  #barChart {
    width: '600px';
  }
}

@media only screen and (max-width: 1024px) {
  #dashboard,
  #products,
  #customers {
    margin-top: 10%;
    display: flex;
    margin-left: 25%;
  }
  #barChart {
    width: '550px' !important;
  }
  #lineChart {
    width: '450px';
  }
}

@media only screen and (max-width: 768px) {
  #dashboard,
  #products,
  #customers {
    margin-top: 7%;
    display: flex;
    margin-left: 31%;
    padding: 3%;
  }
}
